﻿@model asp.das1.Models.Ambion

@{
    ViewBag.Title = "All";
}

<h2>All</h2>
<ul>
    @foreach(asp.das1.Models.Ambion item in ViewBag.ambionner)
    {
        <li>
            <a href="/Ambion/dasaxosner/@item.id">
              @item.name
           </a>
        </li>
    }
</ul>

