﻿@model asp.das1.Models.Dasaxos

@{
    ViewBag.Title = "Dasaxosner";
}

<h2>Dasaxosner </h2>
@foreach(asp.das1.Models.Dasaxos item in ViewBag.dasaxosner)
{
    <li>
        @item.name
        @item.surename
    </li>
}

