﻿@model asp.das1.Models.Xumb

@{
    ViewBag.Title = "All";
}

<h2>All</h2>

<ul>
    @foreach(asp.das1.Models.Xumb item in ViewBag.xmber)
    {
        <li>
            @item.name
        </li>
    }
</ul>