﻿@model asp.das1.Models.Usanox

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form action="/Usanox/Add" method="post">
    <input type="text" name="name">
    <br />
    <br />
    <input type="text" name="surename">
    <br />
    <br />
    <select name="Xumb_id">
        @foreach (asp.das1.Models.Xumb item in ViewBag.xumb)
        {
            <option value="@item.id">@item.name</option>
        }
    </select>
    <br />
    <br />
    <button>Save</button>
</form>
