﻿@model IEnumerable<asp.das1.Models.Usanox>

@{
    ViewBag.Title = "All";
}

<h2>All</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Name
        </th>
        <th>
           Surname
        </th>
        <th>
            xumb
        </th>
        <th></th>
    </tr>

@foreach (asp.das1.Models.Usanox item in ViewBag.usanoxner ) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.xumb_id)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
