﻿@model asp.das1.Models.Usanox

@{
    ViewBag.Title = "Cank";
}

<h2>Cank</h2>
@foreach (asp.das1.Models.Usanox item in ViewBag.usanoxner)
{
    <li>
        @item.name  @item.surename
        <br />
        <small><i>@item.Xumb.name</i></small>
        <a href="/Usanox/Heracnel/@item.id">Delete</a>
    </li>
}
