﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navbar-link"><a href="/Ambion/all">ambion</a></li>
                    <li class="navbar-link"><a href="/Group/all">Xmber</a></li>
                    <li class="navbar-link"><a href="/Dasaxos/cucak">Dasaxos</a></li>
                    <li class="navbar-link"><a href="/Ambion/Add">Add Ambion</a></li>
                    <li class="navbar-link"><a href="/Dasaxos/Add">Add Dasaxos</a></li>
                    <li class="navbar-link"><a href="/Usanox/cank">Usanox</a></li>
                    <li class="navbar-link"><a href="/Usanox/Add">Add Usanox</a></li>
                    <li class="navbar-link"><a href="/Usanox/delete/x">Delete Usanox</a></li>



                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year University</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>