﻿@model asp.das1.Models.Dasaxos

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form action="/Dasaxos/Add" method="post">
    <input type="text" name="name">
    <br />
    <input type="text" name="surename">
    <br />
    <select name="ambion_id">
        @foreach (asp.das1.Models.Ambion item in ViewBag.ambionner)
        {
            <option value="@item.id">@item.name</option>
        }
    </select>
    <br />
    <button>Save</button>
</form>

