﻿@model asp.das1.Models.Dasaxos

@{
    ViewBag.Title = "Cucak";
}

<h2>Cucak</h2>
@foreach(asp.das1.Models.Dasaxos item in ViewBag.dasaxosner)
{
    <li>
        @item.name  @item.surename
        <br />
        <small><i>@item.Ambion.name</i></small>
    </li>
}

